/* The best way to design a responsive site is to start with the mobile experience and add styles to account for larger screen sizes. This makes it less likely that the page will break. 
This is called Mobile First web design. */


/* Start with only the styles necessary for the basic mobile experience. Once it looks good, expand the viewport until it starts looking weird or broken, and add media queries to adjust the page. */
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: lightgreen;
}
main {
    background-color: lightgoldenrodyellow;
    display: grid;
    /* We don't need any columns on mobile... */
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 30px;
}
footer {
    background-color: lightcoral;
}

header, footer {
    padding: 25px;
}

main {
    padding: 25px 0;
}

.card {
    background-color: aliceblue;
    border: 2px solid #aaa;
    border-left: 0;
    border-right: 0;
    padding: 20px;

    box-shadow: 0 3px 15px;
}

/* When designing media queries for mobile first, we specify rules that apply when the viewport is *at least* some given width. For this we use min-width. */

/* Newer syntax allows us to use >, >=, <, <=, for comparison, and 'width' to refer to the viewport width. So max-width: 1000px can be written as 'width <= 1000px' for instance. */
/* @media screen and (min-width: 600px) { */
@media screen and (width >= 600px) {
    main {
        /* here we add back in two columns as we move into more of a tablet size. We can add the padding back in too so the cards aren't touching the sides of the screen. */
        grid-template-columns: 1fr 1fr;
        padding: 25px;
    }
    .card {
        /* Add back the border radius and border */
        border-left: 2px;
        border-right: 2px;
        border-radius: 20px;
    }
    .card:last-child {
        /* With two columns, one card needs to span two so it doesn't look lopsided. */
        grid-column: span 2;
    }
}

/* @media screen and (min-width: 900px) { */
@media screen and (width >= 900px) {
    main {
        /* As we reach a desktop size, we go back to three columns again. */
        grid-template-columns: 1fr 1fr 1fr;

        /* We also need to put back in the styles that account for all the extra width we have on desktop - limiting and centering the content. */
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
    }

    .card:last-child {
        /* Remove the span 2 so the cards are all the same size again. */
        grid-column: span 1;
    }
}


/* Print styles can be tailored with a print media query. */
@media print {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card {
        border: 0;
        box-shadow: none;
    }

    img {
        padding: 25px 0;
    }
}